{% extends 'base.html' %}
{% block content %}

{% for msg in get_flashed_messages() %}
<h1>{{ msg }}</h1>
{% endfor %}

<h1>{{ question.question }}</h1>


<form action="/answer" method="POST">

  <input type="hidden" name="q_num" value="{{ q_num }}">

  <!-- you should have one item like this for every choice -->
  {% for choice in question.choices %}
  <p>
    <input type="radio" name="answer" value="{{ choice }}">
    {{ choice }}
  </p>
  {% endfor %}

  <!-- Checks if the question allows for 
       text with maximum 500 characters-->
  {% if question.allow_text %}
    <p>
      <textarea name="comment" maxlength="500"></textarea>
    </p>
  {% endif %}

  <button>Continue</button>
</form>

{% endblock %}